@import url('https://fonts.googleapis.com/css2?family=Gayathri&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gayathri&family=Roboto+Condensed:wght@800&display=swap');
body{
    background-image: url(Background.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Gayathri', serif;
}
button{
    background-color: white;
    color:white;
    border-width: 0px;
}
.smaller-button {
    font-family: 'Gayathri', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    border-radius: 5px;
    border-width: 5px;
    width: 50%;
    height: 50px;
    font-size: 15px;
    background-color: blueviolet;
}